<h1 align="center" font-weight="strong" >Title: <%= @article.title %></h1>

<div class="well col-xs-8 col-xs-offset-2">
	<% if @article.user %>
		<h4 align="center">Created by:</h4>
		<div align="center">
			<ul class="listing">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
							<li class="article-title">
								<%= link_to @article.user.username, user_path(@article.user) %>
							</li>
							<li><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small>
						</li>
					</div>
				</div>	
			</ul>
		</div>
	<%end%>	
	<h4 class="description" align="center"><strong>Description:</strong></h4>
	<hr>
	<%= simple_format(@article.description) %>

	<div class="article-actions">
		<% if logged_in? && (current_user == @article.user || current_user.admin?) %>
			<%= link_to "Edit this Article", edit_article_path(@article),class: 'btn btn-primary btn-sm'  %> 
			<%= link_to "Delte this Article", article_path(@article), method: :delete,
											  data: {confirm: 'You want to delete this article?'},
											  class: 'btn btn-danger btn-sm' %> 
		    <%= link_to "View all Articles", articles_path,class: 'btn btn-success btn-sm'  %>
		<% end %>
    </div>
</div>


